input {
    font-size: large;
    border-radius: 30px;
    width: 400px;
    height: 30px
}

li {
    list-style-type: none;
    display: flex;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(126, 126, 214);
}

div > form > input {
    text-align: center;
    display: flex;
    justify-content: center;
}

#search-button {
    width: 170px;
}